@model IEnumerable<DelpinBooking.Models.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<h1>Varehuse</h1>

@{
    //TODO: Add pagenating
    int counter = 0;
    int pageValue = ViewBag.QueryParameters.Page;
    int sizeValue = ViewBag.QueryParameters.Size;

}

@using (Html.BeginForm(FormMethod.Get))
{
    <input type="text" name="city" value="" />
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="size" value="@sizeValue" />
    <input type="submit" value="Søg" />
}

<p>
    <a asp-action="Create">Opret Ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
