@using DelpinBooking.Controllers
@model IEnumerable<Machine>

@{
    ViewData["Title"] = "Vælg maskiner";
}

<h1>Maskiner</h1>
@{ 
    List<SelectListItem> cities = new List<SelectListItem>();
    foreach(string s in ViewBag.WarehouseCities)
    {
        cities.Add(new SelectListItem() { Text = s, Value = s });
    }

}

@using (Html.BeginForm(FormMethod.Get))
{
    @Html.DropDownList("warehousecity", cities, "-- Vælg et varehus --")
    <input type="submit" value="Filtrer" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse.City)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.City)
            </td>
            <td>
                <a asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a>
            </td>
        </tr>
        }
    </tbody>
</table>
