@using DelpinBooking.Controllers
@model IEnumerable<DelpinBooking.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    int counter = 0;
    int pageValue = ViewBag.QueryParameters.Page;
    int sizeValue = ViewBag.QueryParameters.Size;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (pageValue > 1)
{
    @using (Html.BeginForm(FormMethod.Get))
    {
        <input type="hidden" name="page" value="@(pageValue-1)" />
        <input type="hidden" name="size" value="@sizeValue" />
        <input type="submit" class="floated" value="Forige side" />
    }
}
@if (counter == sizeValue)
{
    @using (Html.BeginForm(FormMethod.Get))
    {
        <input type="hidden" name="page" value="@(pageValue+1)" />
        <input type="hidden" name="size" value="@sizeValue" />
        <input type="submit" class="floated" value="Næste side" />
    }
}

