@model IEnumerable<DelpinBooking.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@{
    int counter = 0;
    int pageValue = ViewBag.QueryParameters.Page;
    int sizeValue = ViewBag.QueryParameters.Size;

}
@using (Html.BeginForm(FormMethod.Get))
{
    <input type="text" name="searchby" value="" />
    <input type="hidden" name="page" value="@pageValue" />
    <input type="hidden" name="size" value="@sizeValue" />
    <input type="submit" value="Søg" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <a asp-action="GetCustomer" asp-route-id="@item.Customer">Se brugerdetaljer</a> |
                </td>

                <td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (pageValue > 1)
{
    @using (Html.BeginForm(FormMethod.Get))
    {
        <input type="hidden" name="page" value="@(pageValue-1)" />
        <input type="hidden" name="size" value="@sizeValue" />
        <input type="submit" class="floated" value="Forige side" />
    }
}
@if (counter == sizeValue)
{
    @using (Html.BeginForm(FormMethod.Get))
    {
        <input type="hidden" name="page" value="@(pageValue+1)" />
        <input type="hidden" name="size" value="@sizeValue" />
        <input type="submit" class="floated" value="Næste side" />
    }
}

